In [2]:
# On affiche les graphiques dans le notebook en statique
%matplotlib inline

In [3]:
"""
Le code pour la construction des données a été repris (et adapté) de :
https://www.kaggle.com/code/jsaguiar/lightgbm-with-simple-features

La création de nouvelles features a aussi été reprise en partie de :
https://github.com/js-aguiar/home-credit-default-competition

"""

import cupy as cp
import gc
import os
import numpy as np
import pandas as pd
import joblib
import warnings


warnings.simplefilter(action="ignore", category=FutureWarning)
## np.warnings.filterwarnings("ignore", r"All-NaN (slice|axis) encountered")
np.seterr(all="ignore", invalid="ignore")

{'divide': 'ignore', 'over': 'ignore', 'under': 'ignore', 'invalid': 'ignore'}

In [ ]:
from src.modeling.p7_simple_kernel import DataSimple
from src.modeling.p7_util import timer
from src.modeling.p7_file import files_list_pattern, make_dir
from src.modeling.p7_file import download_file
from src.modeling.p7_file import dezip

from src.modeling.p7_constantes import (
    DATA_URL, 
    FILE_ZIP,
    DATA_DIR,
    DATA_BASE,
    DATA_INTERIM,
    DATA_CLEAN_DIR,
    MODEL_DIR,
)

%load_ext autoreload
%autoreload 2
#autoreload 2 = Reload all modules (except those excluded by %aimport)
# every time before executing the Python code typed.

# Télécharger les données

## Liens de téléchargement et fichier à télécharger

In [5]:
DATA_URL

'https://s3-eu-west-1.amazonaws.com/static.oc-static.com/prod/courses/files/Parcours_data_scientist/Projet+-+Impl%C3%A9menter+un+mod%C3%A8le+de+scoring/Projet+Mise+en+prod+-+home-credit-default-risk.zip'

In [6]:
FILE_ZIP

'Projet+Mise+en+prod+-+home-credit-default-risk.zip'

## Création de directories si nécessaire

In [7]:
# Si les répertoires pour stocker les données n'existent pas, on les crée
dir_to_create = [DATA_DIR, DATA_BASE, DATA_CLEAN_DIR, MODEL_DIR]
make_dir(dir_to_create)

data/ dossier déjà existant
data/base/ dossier déjà existant
data/cleaned/ dossier déjà existant
models/ dossier déjà existant

## Téléchargement et dézippage

In [8]:
# Télécharge le fichier archive du premier jeu de données
download_file(url_download=DATA_URL, dir_output=DATA_BASE, to_download=FILE_ZIP)

Projet+Mise+en+prod+-+home-credit-default-risk.zip téléchargé dans le répertoire data/base/
Archive zip dézippée dans le répertoire data/base/

In [9]:
pattern = f"{DATA_BASE}*.csv"
files = files_list_pattern(pattern)
print(f"{len(files)}  fichier dézippés :")
for file in files:
    print(f"{file}")

10  fichier dézippés :
data/base/bureau_balance.csv
data/base/credit_card_balance.csv
data/base/installments_payments.csv
data/base/HomeCredit_columns_description.csv
data/base/application_train.csv
data/base/POS_CASH_balance.csv
data/base/application_test.csv
data/base/bureau.csv
data/base/previous_application.csv
data/base/sample_submission.csv

# Construction des données avec Simple Kernel

In [10]:
data_builder = DataSimple()

## Configuration

In [11]:
data_builder.init_config(debug=False)

Paramètres ['debug'] mis à jour

In [12]:
data_builder.print_config()

Configuration :
	dataset_num : 01
	debug : False
	n_rows : None
	drop_first : True
	frac_test : 0.25
	test_is_stratified : True
	input_dir : data/base/
	output_dir : data/interim/
	train_name : 01_v0_built_train.csv
	test_name : 01_v0_built_test.csv
	na_value : nan
	features_label_encoding : []
	features_oh_encoded : []
	random_state : 42

## Aggrégation des données

In [13]:
with timer(f"Pipeline d'agrégation des données sur {data_builder._device.upper()}"):
    df = data_builder.get_data()

Nombre de lignes Application train + test: 307511
Process Application - duration (hh:mm:ss) : 0:00:01
Bureau df shape: (305811, 112)
Process bureau and bureau_balance - duration (hh:mm:ss) : 0:00:01
Previous applications df shape: (338857, 235)
Process previous_applications - duration (hh:mm:ss) : 0:00:02
Pos-cash balance df shape: (337252, 17)
Process POS-CASH balance - duration (hh:mm:ss) : 0:00:01
Installments payments df shape: (339587, 26)
Process installments payments - duration (hh:mm:ss) : 0:00:01
Credit card balance df shape: (103558, 122)
Process credit card balance - duration (hh:mm:ss) : 0:00:01
All data shape : (307511, 751)
Pipeline d'agrégation des données sur CUDA - duration (hh:mm:ss) : 0:00:07

In [14]:
data_builder.features_oh_encoded

['NAME_CONTRACT_TYPE_Revolving loans',
 'NAME_TYPE_SUITE_Family',
 'NAME_TYPE_SUITE_Group of people',
 'NAME_TYPE_SUITE_Other_A',
 'NAME_TYPE_SUITE_Other_B',
 'NAME_TYPE_SUITE_Spouse, partner',
 'NAME_TYPE_SUITE_Unaccompanied',
 'NAME_TYPE_SUITE_<NA>',
 'NAME_INCOME_TYPE_Commercial associate',
 'NAME_INCOME_TYPE_Maternity leave',
 'NAME_INCOME_TYPE_Pensioner',
 'NAME_INCOME_TYPE_State servant',
 'NAME_INCOME_TYPE_Student',
 'NAME_INCOME_TYPE_Unemployed',
 'NAME_INCOME_TYPE_Working',
 'NAME_EDUCATION_TYPE_Higher education',
 'NAME_EDUCATION_TYPE_Incomplete higher',
 'NAME_EDUCATION_TYPE_Lower secondary',
 'NAME_EDUCATION_TYPE_Secondary / secondary special',
 'NAME_FAMILY_STATUS_Married',
 'NAME_FAMILY_STATUS_Separated',
 'NAME_FAMILY_STATUS_Single / not married',
 'NAME_FAMILY_STATUS_Widow',
 'NAME_FAMILY_STATUS_<NA>',
 'NAME_HOUSING_TYPE_House / apartment',
 'NAME_HOUSING_TYPE_Municipal apartment',
 'NAME_HOUSING_TYPE_Office apartment',
 'NAME_HOUSING_TYPE_Rented apartment',
 'NAME_HOUSING_TYPE_With parents',
 'OCCUPATION_TYPE_Cleaning staff',
 'OCCUPATION_TYPE_Cooking staff',
 'OCCUPATION_TYPE_Core staff',
 'OCCUPATION_TYPE_Drivers',
 'OCCUPATION_TYPE_HR staff',
 'OCCUPATION_TYPE_High skill tech staff',
 'OCCUPATION_TYPE_IT staff',
 'OCCUPATION_TYPE_Laborers',
 'OCCUPATION_TYPE_Low-skill Laborers',
 'OCCUPATION_TYPE_Managers',
 'OCCUPATION_TYPE_Medicine staff',
 'OCCUPATION_TYPE_Private service staff',
 'OCCUPATION_TYPE_Realty agents',
 'OCCUPATION_TYPE_Sales staff',
 'OCCUPATION_TYPE_Secretaries',
 'OCCUPATION_TYPE_Security staff',
 'OCCUPATION_TYPE_Waiters/barmen staff',
 'OCCUPATION_TYPE_<NA>',
 'WEEKDAY_APPR_PROCESS_START_MONDAY',
 'WEEKDAY_APPR_PROCESS_START_SATURDAY',
 'WEEKDAY_APPR_PROCESS_START_SUNDAY',
 'WEEKDAY_APPR_PROCESS_START_THURSDAY',
 'WEEKDAY_APPR_PROCESS_START_TUESDAY',
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
 'ORGANIZATION_TYPE_Agriculture',
 'ORGANIZATION_TYPE_Bank',
 'ORGANIZATION_TYPE_Business Entity Type 1',
 'ORGANIZATION_TYPE_Business Entity Type 2',
 'ORGANIZATION_TYPE_Business Entity Type 3',
 'ORGANIZATION_TYPE_Cleaning',
 'ORGANIZATION_TYPE_Construction',
 'ORGANIZATION_TYPE_Culture',
 'ORGANIZATION_TYPE_Electricity',
 'ORGANIZATION_TYPE_Emergency',
 'ORGANIZATION_TYPE_Government',
 'ORGANIZATION_TYPE_Hotel',
 'ORGANIZATION_TYPE_Housing',
 'ORGANIZATION_TYPE_Industry: type 1',
 'ORGANIZATION_TYPE_Industry: type 10',
 'ORGANIZATION_TYPE_Industry: type 11',
 'ORGANIZATION_TYPE_Industry: type 12',
 'ORGANIZATION_TYPE_Industry: type 13',
 'ORGANIZATION_TYPE_Industry: type 2',
 'ORGANIZATION_TYPE_Industry: type 3',
 'ORGANIZATION_TYPE_Industry: type 4',
 'ORGANIZATION_TYPE_Industry: type 5',
 'ORGANIZATION_TYPE_Industry: type 6',
 'ORGANIZATION_TYPE_Industry: type 7',
 'ORGANIZATION_TYPE_Industry: type 8',
 'ORGANIZATION_TYPE_Industry: type 9',
 'ORGANIZATION_TYPE_Insurance',
 'ORGANIZATION_TYPE_Kindergarten',
 'ORGANIZATION_TYPE_Legal Services',
 'ORGANIZATION_TYPE_Medicine',
 'ORGANIZATION_TYPE_Military',
 'ORGANIZATION_TYPE_Mobile',
 'ORGANIZATION_TYPE_Other',
 'ORGANIZATION_TYPE_Police',
 'ORGANIZATION_TYPE_Postal',
 'ORGANIZATION_TYPE_Realtor',
 'ORGANIZATION_TYPE_Religion',
 'ORGANIZATION_TYPE_Restaurant',
 'ORGANIZATION_TYPE_School',
 'ORGANIZATION_TYPE_Security',
 'ORGANIZATION_TYPE_Security Ministries',
 'ORGANIZATION_TYPE_Self-employed',
 'ORGANIZATION_TYPE_Services',
 'ORGANIZATION_TYPE_Telecom',
 'ORGANIZATION_TYPE_Trade: type 1',
 'ORGANIZATION_TYPE_Trade: type 2',
 'ORGANIZATION_TYPE_Trade: type 3',
 'ORGANIZATION_TYPE_Trade: type 4',
 'ORGANIZATION_TYPE_Trade: type 5',
 'ORGANIZATION_TYPE_Trade: type 6',
 'ORGANIZATION_TYPE_Trade: type 7',
 'ORGANIZATION_TYPE_Transport: type 1',
 'ORGANIZATION_TYPE_Transport: type 2',
 'ORGANIZATION_TYPE_Transport: type 3',
 'ORGANIZATION_TYPE_Transport: type 4',
 'ORGANIZATION_TYPE_University',
 'ORGANIZATION_TYPE_<NA>',
 'FONDKAPREMONT_MODE_org spec account',
 'FONDKAPREMONT_MODE_reg oper account',
 'FONDKAPREMONT_MODE_reg oper spec account',
 'FONDKAPREMONT_MODE_<NA>',
 'HOUSETYPE_MODE_specific housing',
 'HOUSETYPE_MODE_terraced house',
 'HOUSETYPE_MODE_<NA>',
 'WALLSMATERIAL_MODE_Mixed',
 'WALLSMATERIAL_MODE_Monolithic',
 'WALLSMATERIAL_MODE_Others',
 'WALLSMATERIAL_MODE_Panel',
 'WALLSMATERIAL_MODE_Stone, brick',
 'WALLSMATERIAL_MODE_Wooden',
 'WALLSMATERIAL_MODE_<NA>',
 'STATUS_0',
 'STATUS_1',
 'STATUS_2',
 'STATUS_3',
 'STATUS_4',
 'STATUS_5',
 'STATUS_C',
 'STATUS_X',
 'CREDIT_ACTIVE_Active',
 'CREDIT_ACTIVE_Bad debt',
 'CREDIT_ACTIVE_Closed',
 'CREDIT_ACTIVE_Sold',
 'CREDIT_CURRENCY_currency 1',
 'CREDIT_CURRENCY_currency 2',
 'CREDIT_CURRENCY_currency 3',
 'CREDIT_CURRENCY_currency 4',
 'CREDIT_TYPE_Another type of loan',
 'CREDIT_TYPE_Car loan',
 'CREDIT_TYPE_Cash loan (non-earmarked)',
 'CREDIT_TYPE_Consumer credit',
 'CREDIT_TYPE_Credit card',
 'CREDIT_TYPE_Interbank credit',
 'CREDIT_TYPE_Loan for business development',
 'CREDIT_TYPE_Loan for purchase of shares (margin lending)',
 'CREDIT_TYPE_Loan for the purchase of equipment',
 'CREDIT_TYPE_Loan for working capital replenishment',
 'CREDIT_TYPE_Microloan',
 'CREDIT_TYPE_Mobile operator loan',
 'CREDIT_TYPE_Mortgage',
 'CREDIT_TYPE_Real estate loan',
 'CREDIT_TYPE_Unknown type of loan',
 'NAME_CONTRACT_TYPE_Cash loans',
 'NAME_CONTRACT_TYPE_Consumer loans',
 'NAME_CONTRACT_TYPE_Revolving loans',
 'NAME_CONTRACT_TYPE_XNA',
 'WEEKDAY_APPR_PROCESS_START_FRIDAY',
 'WEEKDAY_APPR_PROCESS_START_MONDAY',
 'WEEKDAY_APPR_PROCESS_START_SATURDAY',
 'WEEKDAY_APPR_PROCESS_START_SUNDAY',
 'WEEKDAY_APPR_PROCESS_START_THURSDAY',
 'WEEKDAY_APPR_PROCESS_START_TUESDAY',
 'WEEKDAY_APPR_PROCESS_START_WEDNESDAY',
 'FLAG_LAST_APPL_PER_CONTRACT_N',
 'FLAG_LAST_APPL_PER_CONTRACT_Y',
 'NAME_CASH_LOAN_PURPOSE_Building a house or an annex',
 'NAME_CASH_LOAN_PURPOSE_Business development',
 'NAME_CASH_LOAN_PURPOSE_Buying a garage',
 'NAME_CASH_LOAN_PURPOSE_Buying a holiday home / land',
 'NAME_CASH_LOAN_PURPOSE_Buying a home',
 'NAME_CASH_LOAN_PURPOSE_Buying a new car',
 'NAME_CASH_LOAN_PURPOSE_Buying a used car',
 'NAME_CASH_LOAN_PURPOSE_Car repairs',
 'NAME_CASH_LOAN_PURPOSE_Education',
 'NAME_CASH_LOAN_PURPOSE_Everyday expenses',
 'NAME_CASH_LOAN_PURPOSE_Furniture',
 'NAME_CASH_LOAN_PURPOSE_Gasification / water supply',
 'NAME_CASH_LOAN_PURPOSE_Hobby',
 'NAME_CASH_LOAN_PURPOSE_Journey',
 'NAME_CASH_LOAN_PURPOSE_Medicine',
 'NAME_CASH_LOAN_PURPOSE_Money for a third person',
 'NAME_CASH_LOAN_PURPOSE_Other',
 'NAME_CASH_LOAN_PURPOSE_Payments on other loans',
 'NAME_CASH_LOAN_PURPOSE_Purchase of electronic equipment',
 'NAME_CASH_LOAN_PURPOSE_Refusal to name the goal',
 'NAME_CASH_LOAN_PURPOSE_Repairs',
 'NAME_CASH_LOAN_PURPOSE_Urgent needs',
 'NAME_CASH_LOAN_PURPOSE_Wedding / gift / holiday',
 'NAME_CASH_LOAN_PURPOSE_XAP',
 'NAME_CASH_LOAN_PURPOSE_XNA',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Canceled',
 'NAME_CONTRACT_STATUS_Refused',
 'NAME_CONTRACT_STATUS_Unused offer',
 'NAME_PAYMENT_TYPE_Cash through the bank',
 'NAME_PAYMENT_TYPE_Cashless from the account of the employer',
 'NAME_PAYMENT_TYPE_Non-cash from your account',
 'NAME_PAYMENT_TYPE_XNA',
 'CODE_REJECT_REASON_CLIENT',
 'CODE_REJECT_REASON_HC',
 'CODE_REJECT_REASON_LIMIT',
 'CODE_REJECT_REASON_SCO',
 'CODE_REJECT_REASON_SCOFR',
 'CODE_REJECT_REASON_SYSTEM',
 'CODE_REJECT_REASON_VERIF',
 'CODE_REJECT_REASON_XAP',
 'CODE_REJECT_REASON_XNA',
 'NAME_TYPE_SUITE_Children',
 'NAME_TYPE_SUITE_Family',
 'NAME_TYPE_SUITE_Group of people',
 'NAME_TYPE_SUITE_Other_A',
 'NAME_TYPE_SUITE_Other_B',
 'NAME_TYPE_SUITE_Spouse, partner',
 'NAME_TYPE_SUITE_Unaccompanied',
 'NAME_TYPE_SUITE_<NA>',
 'NAME_CLIENT_TYPE_New',
 'NAME_CLIENT_TYPE_Refreshed',
 'NAME_CLIENT_TYPE_Repeater',
 'NAME_CLIENT_TYPE_XNA',
 'NAME_GOODS_CATEGORY_Additional Service',
 'NAME_GOODS_CATEGORY_Animals',
 'NAME_GOODS_CATEGORY_Audio/Video',
 'NAME_GOODS_CATEGORY_Auto Accessories',
 'NAME_GOODS_CATEGORY_Clothing and Accessories',
 'NAME_GOODS_CATEGORY_Computers',
 'NAME_GOODS_CATEGORY_Construction Materials',
 'NAME_GOODS_CATEGORY_Consumer Electronics',
 'NAME_GOODS_CATEGORY_Direct Sales',
 'NAME_GOODS_CATEGORY_Education',
 'NAME_GOODS_CATEGORY_Fitness',
 'NAME_GOODS_CATEGORY_Furniture',
 'NAME_GOODS_CATEGORY_Gardening',
 'NAME_GOODS_CATEGORY_Homewares',
 'NAME_GOODS_CATEGORY_House Construction',
 'NAME_GOODS_CATEGORY_Insurance',
 'NAME_GOODS_CATEGORY_Jewelry',
 'NAME_GOODS_CATEGORY_Medical Supplies',
 'NAME_GOODS_CATEGORY_Medicine',
 'NAME_GOODS_CATEGORY_Mobile',
 'NAME_GOODS_CATEGORY_Office Appliances',
 'NAME_GOODS_CATEGORY_Other',
 'NAME_GOODS_CATEGORY_Photo / Cinema Equipment',
 'NAME_GOODS_CATEGORY_Sport and Leisure',
 'NAME_GOODS_CATEGORY_Tourism',
 'NAME_GOODS_CATEGORY_Vehicles',
 'NAME_GOODS_CATEGORY_Weapon',
 'NAME_GOODS_CATEGORY_XNA',
 'NAME_PORTFOLIO_Cards',
 'NAME_PORTFOLIO_Cars',
 'NAME_PORTFOLIO_Cash',
 'NAME_PORTFOLIO_POS',
 'NAME_PORTFOLIO_XNA',
 'NAME_PRODUCT_TYPE_XNA',
 'NAME_PRODUCT_TYPE_walk-in',
 'NAME_PRODUCT_TYPE_x-sell',
 'CHANNEL_TYPE_AP+ (Cash loan)',
 'CHANNEL_TYPE_Car dealer',
 'CHANNEL_TYPE_Channel of corporate sales',
 'CHANNEL_TYPE_Contact center',
 'CHANNEL_TYPE_Country-wide',
 'CHANNEL_TYPE_Credit and cash offices',
 'CHANNEL_TYPE_Regional / Local',
 'CHANNEL_TYPE_Stone',
 'NAME_SELLER_INDUSTRY_Auto technology',
 'NAME_SELLER_INDUSTRY_Clothing',
 'NAME_SELLER_INDUSTRY_Connectivity',
 'NAME_SELLER_INDUSTRY_Construction',
 'NAME_SELLER_INDUSTRY_Consumer electronics',
 'NAME_SELLER_INDUSTRY_Furniture',
 'NAME_SELLER_INDUSTRY_Industry',
 'NAME_SELLER_INDUSTRY_Jewelry',
 'NAME_SELLER_INDUSTRY_MLM partners',
 'NAME_SELLER_INDUSTRY_Tourism',
 'NAME_SELLER_INDUSTRY_XNA',
 'NAME_YIELD_GROUP_XNA',
 'NAME_YIELD_GROUP_high',
 'NAME_YIELD_GROUP_low_action',
 'NAME_YIELD_GROUP_low_normal',
 'NAME_YIELD_GROUP_middle',
 'PRODUCT_COMBINATION_Card Street',
 'PRODUCT_COMBINATION_Card X-Sell',
 'PRODUCT_COMBINATION_Cash',
 'PRODUCT_COMBINATION_Cash Street: high',
 'PRODUCT_COMBINATION_Cash Street: low',
 'PRODUCT_COMBINATION_Cash Street: middle',
 'PRODUCT_COMBINATION_Cash X-Sell: high',
 'PRODUCT_COMBINATION_Cash X-Sell: low',
 'PRODUCT_COMBINATION_Cash X-Sell: middle',
 'PRODUCT_COMBINATION_POS household with interest',
 'PRODUCT_COMBINATION_POS household without interest',
 'PRODUCT_COMBINATION_POS industry with interest',
 'PRODUCT_COMBINATION_POS industry without interest',
 'PRODUCT_COMBINATION_POS mobile with interest',
 'PRODUCT_COMBINATION_POS mobile without interest',
 'PRODUCT_COMBINATION_POS other with interest',
 'PRODUCT_COMBINATION_POS others without interest',
 'PRODUCT_COMBINATION_<NA>',
 'NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Amortized debt',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Canceled',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Returned to the store',
 'NAME_CONTRACT_STATUS_Signed',
 'NAME_CONTRACT_STATUS_XNA',
 'NAME_CONTRACT_STATUS_Active',
 'NAME_CONTRACT_STATUS_Approved',
 'NAME_CONTRACT_STATUS_Completed',
 'NAME_CONTRACT_STATUS_Demand',
 'NAME_CONTRACT_STATUS_Refused',
 'NAME_CONTRACT_STATUS_Sent proposal',
 'NAME_CONTRACT_STATUS_Signed']

In [15]:
df.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_NAME_CONTRACT_STATUS_Refused_MEAN,CC_NAME_CONTRACT_STATUS_Refused_SUM,CC_NAME_CONTRACT_STATUS_Refused_VAR,CC_NAME_CONTRACT_STATUS_Sent proposal_MEAN,CC_NAME_CONTRACT_STATUS_Sent proposal_SUM,CC_NAME_CONTRACT_STATUS_Sent proposal_VAR,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_COUNT
25936,130161,0,1,0,1,1,157500.0,339948.0,26437.5,315000.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
25937,130162,0,0,0,1,0,108000.0,657702.0,21343.5,549000.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
25938,130163,0,1,0,0,0,157500.0,765261.0,30478.5,684000.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
25939,130164,0,0,1,0,0,270000.0,1125000.0,37309.5,1125000.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
25941,130166,0,0,1,0,1,315000.0,270000.0,13500.0,270000.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

## Nettoyage basique

In [16]:
df = data_builder.clean_data(df)

Renommage des colonnes

Traitement des valeurs inf
4 features comportent des valeurs infinies :
['REFUSED_APP_CREDIT_PERC_MAX', 'INSTAL_PAYMENT_PERC_MAX', 'INSTAL_PAYMENT_PERC_MEAN', 'INSTAL_PAYMENT_PERC_SUM']
Aucun doublon dans la colonne SK_ID_CURR

Création des index Train / Test 25.0%

Suppression des colonnes de variance nulle sur le Train
4 features de variance nulle dans le Train supprimées
['BURO_CREDIT_TYPE_Mobileoperatorloan_MEAN', 'PREV_NAME_GOODS_CATEGORY_HouseConstruction_MEAN', 'CC_SK_DPD_MIN', 'CC_SK_DPD_DEF_MIN']

Suppression des colonnes vides sur le Train
Aucune colonne complètement vide sur le Train

all_data.info :
<class 'cudf.core.dataframe.DataFrame'>
Index: 307511 entries, 25936 to 295365
Columns: 747 entries, SK_ID_CURR to CC_COUNT
dtypes: bool(124), float64(518), int32(1), int64(100), int8(4)
memory usage: 1.5 GB

## Cast et optimisation mémoire pour CUDA

In [17]:
df = data_builder.cast_and_optimize(df)

34 features binaires castées en bool (exclusion _SUM, _MAX, _MIN):
['FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21']

Cast des autres types pour optimisation
Utilisation mémoire du cuDF 1446.29 Mo
Consommation Mémoire après optimisation : 802.86 Mo
Réduction de 44.5%

## Récupérer les données de Train et de test - Sauvegarde

In [18]:
train, test = data_builder.get_train_and_test(df)

Séparation réelle du train et du test
Train : 75.0% des données - Forme : (230634, 747) - Mem : 602.16 Mo
Test : 25.0% des données - Forme : (76877, 747) - Mem : 200.72 Mo

In [19]:
train, test = data_builder.save_train_and_test(train, test)

Train enregistré dans data/interim/01_v0_built_train.csv. Forme : (230634, 747)

Informations sur le jeu de Train :
<class 'cudf.core.dataframe.DataFrame'>
Index: 230634 entries, 46603 to 207914
Columns: 747 entries, SK_ID_CURR to CC_COUNT
dtypes: bool(158), float32(497), float64(21), int32(56), int64(15)
memory usage: 602.2 MB

Test enregistré dans data/interim/01_v0_built_test.csv. Forme : (76877, 747)

In [20]:
# On sauvegarde aussi le data buider pour les noms des features en OneHot et les First Categories
joblib.dump(data_builder, os.path.join(DATA_INTERIM, "01_v0_built_data_builder.pkl"))

['data/interim/01_v0_built_data_builder.pkl']

In [21]:
del df
del test
gc.collect()
cp._default_memory_pool.free_all_blocks()

In [22]:
train.head()

,SK_ID_CURR,TARGET,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CC_NAME_CONTRACT_STATUS_Refused_MEAN,CC_NAME_CONTRACT_STATUS_Refused_SUM,CC_NAME_CONTRACT_STATUS_Refused_VAR,CC_NAME_CONTRACT_STATUS_Sentproposal_MEAN,CC_NAME_CONTRACT_STATUS_Sentproposal_SUM,CC_NAME_CONTRACT_STATUS_Sentproposal_VAR,CC_NAME_CONTRACT_STATUS_Signed_MEAN,CC_NAME_CONTRACT_STATUS_Signed_SUM,CC_NAME_CONTRACT_STATUS_Signed_VAR,CC_COUNT
46603,153986,0,1,True,False,0,225000.0,298512.0,31801.5,270000.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
94032,209194,0,0,True,False,1,337500.0,724261.5,39420.0,576000.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
142448,265165,0,1,False,True,0,112500.0,134775.0,5836.5,112500.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
54650,163323,0,0,True,False,0,202500.0,123637.5,11470.5,112500.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
66209,176788,0,1,False,False,0,135000.0,770292.0,30676.5,688500.0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [23]:
del train
gc.collect()
cp._default_memory_pool.free_all_blocks()